<div class="transWrapper">
  <div class="headerbackWrap border-0">
  </div>
  <div class="transBody">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2 class="titleOne">Wallet <span style="color: #0884FF;">{{this.user}}</span> has been created.</h2>
        </div>
        <div class="col-md-4">
          <img src="assets/localwallet-step-completed-black-white.png" alt="rocket image" class="stepperMainImg">
        </div>
      </div>
    </div>
    <div class="transBottomFooter">
      <div class="bottomFooter">
        <div class="container">
          <a href="javascript:;" class="btnCustomBlue btnLarge" routerLink="/dashboard/home" (click)="go()">Go to
            Dashboard</a>
        </div>
      </div>
    </div>
  </div>